@charset "UTF-8";

body {overflow-x: hidden;}
body.on {overflow: hidden;}

/*** header s ***/

.header {width: 100%; position: fixed; top: 0; left: 0; z-index: 100; height: 65px; transition: .4s; text-transform:uppercase}
.inner-header-wrap {background: #fff; padding: 0 25px; position: relative; z-index: 50; transition: all 0.4s;}
.inner-header {display: flex; justify-content: space-between; height: 65px; align-items: center;}
.inner-header .logo a {display: block; width: 200px;}
.inner-header .logo a img {max-width: 100%; position: relative; z-index: 25; transform: scale(0.55); transform-origin: left;}

.header.sticky {border-bottom: 1px solid #dbdfe2;}

.gnb-wrap {position: fixed; z-index: -1; display: flex; flex-direction: column; left: -100%; overflow-x: hidden; overflow-y: auto; width: 100%; top: 65px; bottom: 0;transition: left 0.3s;}
.gnb-wrap.open {left: 0;}
.gnb {position: relative; z-index: 2; border-top: 1px solid #DBDBDB; background: #fff; height: 100%;}
.gnb .dep1>a {font-size: 16px; display: flex; height: 60px; align-items: center; justify-content: space-between; padding: 3px 25px 0; box-sizing: border-box; position: relative; z-index: 10; left: 0; border-radius: 45px; transition: 0.3s; color: #49A942;}
.gnb .dep1>a::after {content: ''; display: block; width: 24px; height: 12px; background: url("/_user/img/layout/ico-gnb-arrow.svg") no-repeat center / contain; transform: rotate(180deg); transition: .3s;}
.gnb .dep1.active>a {}
.gnb .dep1.active>a::after {transform: rotate(0deg);}
.gnb .dep2-wrap.active {z-index: 1; opacity: 1;}
.gnb .dep2-wrap {display: none;}
.gnb .dep2-wrap>p {display: none;}
.gnb .dep2 {background: rgba(73, 169, 66, 0.07);}
.gnb .dep2>li>a {font-size: 14px; padding: 0 34px; justify-content: space-between; color: #808080; height: 55px; display: flex; align-items: center; border-bottom: 1px solid rgba(232, 232, 232, 0.30); word-break: keep-all;}
.gnb .dep2>li.on>a {border-color: var(--point-color);}
.gnb .dep2>li.on>a::after {transform: rotate(0);}
.gnb .dep3 {display: none; padding: 20px 0 20px; border-bottom: 1px solid #e5e5e5; background: #fff;}
.gnb .dep2>li:last-child .dep3 {border-bottom: none;}
.gnb .dep3>li + li {padding-top: 10px;}
.gnb .dep3>li>a {display: flex;}
.gnb .dep3>li>a::before {content: ''; position: relative; top: 7px; width: 3px; height: 3px; border-radius: 45px; background: #666; margin-right: 5px;}
.gnb a.out-lnk>span {display: flex; margin-right: auto; margin-top: -5px; width: 20px; height: 15px; background: url('/_user/img/sub/ico-outlink.svg') 50% no-repeat; margin-left: 3px;}
.gnb .dep2-wrap.on a.out-lnk>span {background: url('/_user/img/sub/ico-outlink-on.svg') 50% no-repeat;}
.gnb .dep3 a.out-lnk>span {margin-top: 0;}

.gnb-util {margin-top: auto; padding: 40px 0; display: flex; flex-direction: column; gap: 5px;}
.gnb-util>a {display: flex; align-items: center; line-height: 40px; width: 100px; margin: 0 15px; font-size: 15px; color: #111; border-bottom: 1px solid #e5e5e5;}
.gnb-util>a::before {content: ''; width: 20px; height: 20px; margin-right: 5px; background-repeat: no-repeat; background-position: center;}
.menu-btn {width: 22px; height: 20px; position: relative; background: none; border: none; cursor: pointer; display: flex; align-items: center; justify-content: center; }
.menu-btn > span {position: absolute; width: 100%; height: 3px; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #111; border-radius: 3px; transition: all 0.3s; clip: auto; display: block; overflow: visible;}
.menu-btn > span::before, .menu-btn > span::after {content: ''; display: block; position: absolute; width: 100%; height: 3px; background: #111; border-radius: 3px; transition: all 0.3s; }
.menu-btn > span::before {top: -7px; }
.menu-btn > span::after {bottom: -7px; }
.menu-btn.off > span {background: transparent; }
.menu-btn.off > span::before {transform: rotate(45deg); top: 0; }
.menu-btn.off > span::after {transform: rotate(-45deg); bottom: 0; }

.inner-btn-wrap {display: flex; align-items: center; gap: 10px;}


@media screen and (min-width: 1200px){
    .header {position: fixed; right: 0; height: 110px;}
    .inner-header .logo a {width: auto; overflow: visible;}
    .inner-header .logo a img {transform: scale(1); top: -9px;}
    .header .inner-top {display: flex; justify-content: space-between;}
    .inner-header-wrap {padding: 0; overflow: hidden; height: 110px; transition: .4s;}
    .inner-header {position: relative; height: 110px; max-width: 1800px; margin: 0 auto; padding: 0 20px;}
    .header.on .inner-header::before {content: ''; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 150%; height: 1px; border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
    .header.on .inner-header-wrap::before {height: 400px; transition: height 0.3s;}
    .header.on .inner-header-wrap::after {height: 400px; transition: height 0.3s;}
    .gnb-util, .menu-btn, .gnb .dep2>li.child>a::after, .gnb .dep3>li>a::before {display: none;}
    .header .lang {position: relative; display: flex; justify-content: center; min-width: 120px; border-radius: 45px; font-size: 16px; color: #fff; height: 46px; line-height: 50px; background: #273A94 url('/_user/img/layout/ico-lang.png') 18px 50% no-repeat; transition: .4s;}
    .header .lang select:focus-visible {outline: 3px dashed red; outline-offset: -3px; border-radius: 45px;}
    .gnb-wrap {position: static; left: 0; z-index: 1; overflow: visible; top: 0; background: none; flex-direction: row; align-items: center;}
    .gnb-wrap::after {display: none;}
    .gnb {position: static; display: flex; justify-content: flex-end; gap: 5rem; align-items: center; width: 100%; padding: 0; border-top: none; transition: .4s; background: transparent;}
    .gnb .dep1>a {width: 100%; padding: 0; height: 70px; justify-content: center; font-size: 1.7rem; color: var(--black); font-weight: 700;}
    .gnb .dep1>a::after {display: none;}
    .gnb .dep1>a.active {color: var(--point-color);}
    .gnb .dep1 em {position: relative; display: block;}
    /*.gnb .dep1 em::before {content: ''; position: absolute; left: 0; top: -7px; width: 100%; height: 7px; background: url('/_user/img/layout/img-dot.svg') 6px 0/129px no-repeat; transition: .4s;}*/
    .gnb .dep2-wrap {display: block; position: absolute; overflow: visible; opacity: 1; padding: 30px 15px; z-index: 1; top: 110px; left: 0; width: 100%; height: auto; background-color: #fff; box-sizing: border-box; transition: .4s;}
    .gnb .dep2-wrap {background: #fff; width: 16.666%;}
    .gnb .dep1:nth-of-type(1) .dep2-wrap {left: 0;}
    .gnb .dep1:nth-of-type(2) .dep2-wrap {left: calc(100% / 6);}
    .gnb .dep1:nth-of-type(3) .dep2-wrap {left: calc(100% / 6 + 100% / 6);}
    .gnb .dep1:nth-of-type(4) .dep2-wrap {left: calc(100% / 6 + 100% / 6 + 100% / 6);}
    .gnb .dep1:nth-of-type(5) .dep2-wrap {left: calc(100% / 6 + 100% / 6 + 100% / 6 + 100% / 6);}
    .gnb .dep1:nth-of-type(6) .dep2-wrap {left: calc(100% / 6 + 100% / 6 + 100% / 6 + 100% / 6  + 100% / 6);}
    .gnb .dep2-wrap::before {content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 75%; background: rgba(0, 0, 0, 0.1);}
    .gnb .dep1:nth-of-type(1) .dep2-wrap::before {display: none;}
    .gnb .dep2-wrap>p {display: block; font-size: 2rem; color: #49A942; font-weight: bold; padding-bottom: 3.5rem;}
    .gnb .dep2 {padding: 0; background: inherit;}
    .gnb .dep2>li + li {padding-top: 15px;}
    .gnb .dep2>li>a {display: inline-block; color: #111; border-bottom: none; padding: 0; height: auto; font-size: 1.6rem; color: rgba(0 0 0 / 50%);}
    .gnb .dep2>li>a:hover, .gnb .dep2>li>a:focus {font-weight: bold;}
    .gnb .dep3 {background: inherit;}
    .gnb .dep3 {display: block; border-bottom: none; padding: 10px 0 5px;}
    .gnb .dep3>li {padding-left: 15px;}
    .gnb .dep3>li>a {display: inline-block; position: relative; color: #555; font-size: 15px;}
    .gnb .dep3>li>a::before {content: ''; display: block; position: absolute; left: -8px; top: 8px; width: 4px; height: 4px; background: var(--point-color);}
    .gnb .dep3>li>a:hover, .gnb .dep3>li>a:focus {opacity: 1 !important; box-shadow: 0 -1px 0 0 inset;}
    .gnb a.out-lnk>span {display: inline-flex; vertical-align: middle; background-position-x: 100%;}
    .pc-btn-down {height: 4.5rem; min-width: 15.3rem; padding: 0 2.4rem; margin-left: 4rem; box-sizing: border-box; display: flex; gap: 0.8rem; align-items: center; justify-content: space-between; background: var(--black); color: #fff; border-radius: 0.5rem; font-size: 1.7rem; word-break: keep-all; transition: .3s;}
    .pc-btn-down::after {content: ''; display: inline-block; width: 1.8rem; height: 1.8rem; background: url("/_user/img/layout/ico-download-w.svg") no-repeat center / cover;}
    .pc-btn-down:hover {background: var(--point-color2); color: var(--black);}
    .pc-btn-down:hover::after { background: url("/_user/img/layout/ico-download.svg") no-repeat center / cover;}
}
@media screen and (min-width: 1450px){
    .inner-header-wrap::after {width: 15vw;}
    .gnb .dep2-wrap {padding: 40px 1.8vw;}
}
/*** header e ***/

/* footer s */
.footer {position: relative; flex-shrink: 0; margin-top: 10rem; z-index: 0;background: linear-gradient(180deg, #020B13 50%, #29354B 100%); padding-top: 12rem; color: #E5E7EB; font-size: 1.4rem; word-break: keep-all;}
.footer a {color: #E5E7EB;}
.footer-inner {max-width: 1580px; margin: 0 auto; box-sizing: border-box;}
.footer-top {padding: 0 1.5rem 6rem;}
.footer-txt img {transform: scale(0.85); transform-origin: left;}
.footer-txt p {padding-top: 1.8rem;}
.footer-bottom {padding: 0 1.5rem;}
.footer-link {padding-top: 4rem;}
.footer-link a {height: 5rem; display: flex; align-items: center; justify-content: center; color: #fff; border-radius: 0.8rem; border: 0 solid #001E39; background: rgba(255, 255, 255, 0.06); backdrop-filter: blur(7px); margin-top: 1.2rem;}
.footer-logo {transform: scale(0.85); transform-origin: left;}
.footer-sns {display: flex; gap: 1.5rem; padding: 3rem 0;}
.footer-sns a {display: flex; align-items: center; justify-content: center; width: 4rem; height: 4rem; border-radius: 50%; border: 1px solid rgba(255 255 255 / 17%); text-indent: -9999px; transition: border-color .3s;}
.footer-sns .edin {background: url("/_user/img/layout/ico-edin.svg") no-repeat center / 1.5rem;}
.footer-sns .facebook {background: url("/_user/img/layout/ico-facebook.svg") no-repeat center / 1.5rem;}
.footer-sns .facebook {background: url("/_user/img/layout/ico-facebook.svg") no-repeat center / 1.1rem;}
.footer-sns .twitter {background: url("/_user/img/layout/ico-twitter.svg") no-repeat center / 1.6rem;}
.footer-sns .instagram {background: url("/_user/img/layout/ico-instagram.svg") no-repeat center / 1.7rem;}
.info-list {opacity: 0.75; font-weight: 300;}
.info-list > li + li {padding-top: 2rem;}
.info-list em {display: block; padding-bottom: 0.5rem;}
.bottom-second-area {padding: 3rem 0; margin-top: 3rem; text-align: center; font-weight: 300; border-top: 1px solid rgba(229, 231, 235, 0.09); font-size: 1.2rem; letter-spacing: 0;}
.bottom-second-area a {opacity: 0.75;}
.bottom-link-list {display: flex; gap: 1.8rem; padding-top: 2rem; justify-content: center;}
.bottom-link-list a {color: #fff;}
@media screen and (min-width: 500px){
    .footer-link {display: flex; gap: 1rem;}
    .footer-link > li {width: 50%;}
    .footer-sns {padding: 0}
    .footer-info-box {display: flex; align-items: center; justify-content: space-between; padding-bottom: 3rem;}
}
@media screen and (min-width: 768px){
    .footer-link a {margin-top: 0; max-width: 26rem; transition: background 0.3s;}
    .footer-link a:hover {background: var(--point-color2);}
    .bottom-second-area {display: flex; align-items: center; justify-content: space-between;}
    .bottom-link-list {padding-top: 0}
    .footer-sns a:hover {border-color: rgba(255 255 255 / 50%);}
}
@media screen and (min-width: 1024px){
    .footer {margin-top: 20rem; padding-top: 20rem; font-size: 1.5rem;}
    .footer-top {display: flex; padding: 0 3rem 10rem; justify-content: space-between;}
    .info-list {display: flex; gap: 7rem;}
    .info-list > li + li {padding-top: 0;}
    .footer-bottom {padding: 0 3rem;}
    .footer-link {width: 60%; max-width: 540px;}
    .footer-link a {height: 6.5rem; font-size: 1.8rem;}
    .footer-txt img {transform: scale(1);}
    .footer-txt p {font-size: 2.6rem; padding-top: 4rem;}
    .footer-logo {transform: scale(1);}
    .info-list em {padding-bottom: 1rem;}
    .footer-info-box {padding-bottom: 5rem;}
    .bottom-second-area {font-size: 1.4rem; margin-top: 5rem; padding: 5rem 0;}
    .copyright {font-size: 1.6rem;}
}
@media screen and (min-width: 1200px){
    .footer-top {padding: 0 3rem 17rem;}
}
/* footer e */

/* popup s */
/*.popup-wrap {position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 9999; !*background: rgba(0,0,0,0.7);*!}*/
/*.popup-inner {position: fixed; overflow: hidden; z-index: 20; left: 50%; top: 50%; transform: translate(-50%,-50%); background: #fff; max-width: 300px; width: 90%;}*/
/*.popup-slide {height: 350px;}*/
/*.popup-slide .popup-slider {width: 100%;height: 100%;box-sizing: border-box;position: relative;left: 0;}*/
/*.popup-slide .popup-slider a {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;}*/
/*.popup-slide .popup-slider a img {width: 100%; height: 100%; object-fit: cover;}*/
/*.popup-bottom {padding: 10px; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box;}*/
/*.popup-bottom > button {font-size: 14px; color: #303030;}*/
/*.popup-slide .slide-control div {position: absolute; width: 35px; height: 55px; border: none; text-indent: -9999px; top: 50%; transform: translateY(-50%); overflow: hidden;}*/
/*.popup-wrap .swiper-button-prev {left: 0; background: rgba(217,217,217,.65) url("/_user/icon-prev-btn.png"); background-position: 50%; background-repeat: no-repeat;}*/
/*.popup-wrap .swiper-button-next {right: 0; background: rgba(217,217,217,.65) url("/_user/icon-next-btn.png"); background-position: 50%; background-repeat: no-repeat;}*/
/*.popup-wrap .swiper-pagination-fraction {position: static; width: auto; padding-left: 50px; color: #303030; font-weight: 700; font-size: 15px;}*/
/*.popup-bottom .today-no {cursor: pointer; font-size: 14px; color: #303030;}*/
/*.popup-bottom .today-no::before {content: ''; position: relative; top: 2px; display: inline-block; width: 12px; height: 12px; box-sizing: border-box; border: 1px solid #111; margin-right: 5px; border-radius: 3px;}*/
/*.popup-bottom input:focus + label {outline: 1px solid #111;}*/
/*.popup-bottom input:checked + .today-no::before {border-color: #2483C7; background: url("/_user/icon-popchk.svg")center/contain no-repeat;}*/
/*.popup-bottom input:checked + label {color: #2483C7}*/
/*.popup-wrap .swiper-button-disabled {pointer-events: auto;}*/
/*@media screen and (min-width: 1024px){*/
/*    .popup-inner {max-width: 495px; left: auto; right: 50px; transform: translate(0, -50%);}*/
/*    .popup-slide {height: 600px;}*/
/*    .popup-wrap .slide-control div {width: 47px; height: 70px;}*/
/*    .popup-bottom > button {font-size: 15px;}*/
/*    .popup-bottom .today-no {font-size: 15px;}*/
/*    .popup-bottom .today-no::before {width: 15px; height: 15px; top: 3px;}*/
/*    .popup-wrap .swiper-pagination-fraction {font-size: 16px; padding-left: 225px;}*/
/*    .popup-bottom input:checked + .today-no::before {background: url("/_user/icon-popchk.svg")center/contain no-repeat;}*/
/*}*/
/*@media screen and (min-width: 1400px){*/
/*    .popup-inner {right: 140px;}*/
/*}*/
/* popup e */

/* quick menu s */
.quick {position:fixed; right:1rem; top:50%; z-index:10;}
.quick .quick-wrap {width:auto;text-align: center;border-radius: 1rem;overflow: visible;}
.quick-btn-list {display: flex; flex-direction: column; gap: 0.8rem;}
.quick .quick-wrap a {width:4.5rem; height:4.5rem; min-height:auto; border-radius:1rem; background-color:#00B4FF; color:#fff; font-size:1rem; font-weight:600; display:flex; flex-direction:column; align-content:center; align-items:center; justify-content:center; transition: background-color .3s;}
.quick .quick-wrap a.ico-quick01 {background: #00B4FF url("/_user/img/layout/ico-quick01.svg") no-repeat center / 2rem;}
.quick .quick-wrap a.ico-quick02 {background: #00B4FF url("/_user/img/layout/ico-quick02.svg") no-repeat center / 2rem;}
.quick .quick-wrap a.ico-quick03 {background: #00B4FF url("/_user/img/layout/ico-quick03.svg") no-repeat center / 2rem;}
.quick .quick-wrap a.ico-quick04 {background: #00B4FF url("/_user/img/layout/ico-quick04.svg") no-repeat center / 2rem;}
.quick .quick-wrap a:hover {background-color:#222;}
.quick .quick-wrap a span {position:absolute;right:6rem;color:#fff;width:12rem;text-align:right;margin-top:2px;font-size:1.5rem;font-weight:500;line-height:1.3;}
.quick .quick-wrap .btn-top {width:4.5rem;height:4.5rem;border-radius:1rem; color:#fff;font-size:1.6rem;display:flex;align-items:center;justify-content:center;background: #333 url("/_user/img/main/ico-top.svg") no-repeat center / 1.3rem; text-indent: -9999px;}
.quick .quick-open {display:block;}
.quick .quick-open .btn-open {background:#333;}
.quick .quick-open .btn-open i {margin:0 auto;display:block;}
.quick-btn-list {position:relative; display:none;margin-bottom:1rem; }
.quick .quick-open {position:relative; margin-bottom:1rem; }
.quick .dimmed {display:none; position:fixed;top:0;right:0;left:0;bottom:0;background:rgba(0,0,0,0.6);z-index:-999;}
.quick.open .dimmed {display:block;}
.quick.open .quick-open .btn-open {background: #333 url("/_user/img/main/ico-close.svg") no-repeat center / 1.3rem; text-indent: -9999px;}
.quick.open .quick-wrap ul.quick-btn-list {display:flex;}
.quick-btn-list .ico-quick01 {}

@media screen and (min-width: 1024px) {
    .quick {right: 0; transform: translateY(-50%); padding: 50px 22px 25px; border-radius: 20px 0 0 20px; background: #333;}
    .quick-btn-list {display: flex; padding-bottom: 30px; gap: 0; margin-bottom: 0;}
    .quick-btn-list > li {height: 25%;}
    .quick .quick-btn-list li + li::before {content: ''; position: relative; left: 1px; display: block; width: 3px; height: 3px; border-radius: 3px; background: #fff; margin: 1rem auto;}
    .quick .quick-open {display: none;}
    .quick .quick-wrap a:hover {background-color: unset;}
    .quick .quick-wrap a {width: auto; height: auto; position: relative; border-radius: 0; background: none;}
    .quick .quick-wrap a span {position: static; width: auto; writing-mode: sideways-rl; margin-top: 0; transition: color .3s;}
    .quick .quick-wrap a.ico-quick01, .quick .quick-wrap a.ico-quick02, .quick .quick-wrap a.ico-quick03, .quick .quick-wrap a.ico-quick04 {background: none;}
    .quick .quick-wrap .btn-top {width: auto; height: auto; text-indent: 0; padding-top: 20px; background-position: top}
    .quick .quick-wrap a span {color: transparent; background: linear-gradient(90deg, #fff, #fff); background-size: 200% 100%; background-clip: text;-webkit-background-clip: text; transition: background 0.5s ease;}
    .quick .quick-wrap a:hover span {background: linear-gradient(90deg, #00AEEF, #00FFCC, #00AEEF); background-size: 200% 100%; animation: gradientFlow 2s linear infinite; background-clip: text; -webkit-background-clip: text;}

    @keyframes gradientFlow {
        0% { background-position: 0% 50%; }
        100% { background-position: 200% 50%; }
    }
}
/* quick menu e */

.scrollLock { overflow: hidden; }